# Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Spring Boot
backend/target/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store

# Logs
*.log

# Environment
.env
application-local.properties